.place {
    display: grid;
    grid-template-rows: fit-content(152px) fit-content(460px);
    grid-template-columns: 460px 484px;
    gap: 48px 40px;
    padding-bottom: 80px;
}

.place:last-child {
    padding-bottom: 0;
}

@media (max-width: 1279px) {
    .place {
        gap: 48px 32px;
        grid-template-columns: 440px 456px;
        grid-template-rows: fit-content(152px) fit-content(440px);
    }
}

@media (max-width: 1023px) {
    .place {
        padding-bottom: 73px;
        grid-template-columns: 340px 352px;
        gap: 48px 28px;
    }
}

@media (max-width: 676px) {
    .place {
        grid-template-columns: repeat(1, auto);
        min-width: 320px;
        row-gap: 32px;
    }
}

