.header__logo {
    background-size: cover;
    background-image: url("../../../images/header_logo.svg");
    width: 176px;
    height: 52px;
    z-index: 1;
}

@media (max-width: 767px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}