.footer {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    padding: 0 48px 24px;
}

@media (max-width: 1023px) {
    .footer {
        padding: 0 24px 24px;
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 0 118px 24px 16px;
        min-height: 310px;
        flex-direction: column;
    }
}